body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #5c5d5f;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    margin: 0 auto;
    color: orange;
    font-size: 48px;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-description {
    color: #CFCFCF;
    margin: 10px auto;
    text-align: center;
}

.wrapper {
    margin: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    width: 80%;
    margin: 05px auto;
    display: flex;
    background: #CFCFCF;
}

.menu-title,
.dropdown, 
#date-range {
    width: 300px;
    margin: 0 20px 0 02px;
}
